
nbproject/private/private.properties
dist/PrivateMovieCollection.jnlp
build/built-jar.properties
dist/PrivateMovieCollection.jnlp
dist/PrivateMovieCollection.jar
dist/PrivateMovieCollection.html
build/built-jar.properties
build/built-jar.properties
dist/PrivateMovieCollection.jnlp
dist/PrivateMovieCollection.html
build/classes/privatemoviecollection/gui/View/movieDetails.fxml
*.properties
